body { padding-top: 70px;!important; }

.panel-note:hover {
   -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
   box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}


.badge-danger{
   background-color: #D9462F;
}
